@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    color: white;
    font-family: 'Space Mono', 'Inconsolata', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px 15px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #3c3a3a;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #d86c2b;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    margin-left: 300px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #d86c2b;
}

.search-user {
    margin-left: 300px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.banner {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.banner img.active {
    opacity: 1;
}

.border {
    margin-top: 2px;
}

.banner .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner .overlay h1 {
    font-size: 3rem;
    margin: 0;
}

.banner .overlay p {
    margin: 10px 0;
    font-size: 1.2rem;
}

.banner .overlay .btn-group a {
    text-decoration: none;
    color: white;
    background-color: #d86c2b;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.banner .overlay .btn-group a:hover {
    background-color: #b55a21;
}

footer {
    background-color: #111;
    padding: 40px 20px;
    position: relative;
}

.footer-container {
    max-width: 1300px;
    margin: 0 auto;
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #302b2b;
    padding-bottom: 10px;
}

.footer-brand h1 {
    font-size: 2rem;
    margin-left: 20px;
}

.help-privacy-social {
    display: flex;
    align-items: center;
    gap: 30px;
    color: rgb(97, 93, 93);
}

.social-media a {
    color: rgb(97, 93, 93);
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s;
}
.help-privacy-social:hover,.social-media a:hover {
    color: #d86c2b;
}

.ticket-info>p{
    font-size: medium;

}

.cta-button{
    padding: 10px;
    background-color: #d86c2b;
    color: white;
}

.cta-button:hover{
    background-color: white;
    color: #d86c2b;
    cursor: pointer;
}

.header{
    color: #d86c2b;
    margin-top:10px;
}
.footer-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: auto;
    gap: 10px;
}

.ticket-info, .footer-links, .newsletter {
    flex: 1;
    min-width: 220px;
    padding: 0 15px;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 65px;
}

.footer-section {
    margin: 10px;
}

.footer-section h4 {
    margin-bottom: 15px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li a {
    color: rgb(97, 93, 93);
    text-decoration: none;
    transition: color 0.3s;
    gap: 10px;
}
.news{
    color: rgb(97, 93, 93);
}

.footer-links ul li a:hover {
    color: #d86c2b;
}

.newsletter input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    background: transparent;

}

.newsletter button {
    padding: 10px 20px;
    background-color: #d86c2b;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.newsletter button:hover {
    background-color: #b55a21;
}

.newsletter label {
    color: rgb(97, 93, 93);
}



.newsletter label:hover {
    color: #d86c2b;
}
.back-to-top {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.back-to-top a {
    color: #d86c2b;
    font-size: 2rem;
}
